services:
  db:
    image: mariadb
    restart: always
    environment:
      -  MARIADB_ROOT_PASSWORD=${dbpassword}
      -  MARIADB_USER=${dbusername}
      -  MARIADB_PASSWORD=${dbpassword}
      -  MARIADB_DATABASE=${dbname}
    volumes:
      - ./schema.sql:/docker-entrypoint-initdb.d/setup.sql
  app:
    image: ghcr.io/redstoneguy9248/forum:master
    depends_on: [db]
    container_name: forum
    restart: always
    env_file: ".env"
    environment: 
      -  DEV="false"
    ports:
      -  ${port}:5000
