<div id="data" data-posts='<%= JSON.stringify(result) %>'></div>
<div class="postsList" id="posts"></div>
<button class="pagination" id="previousPage" onclick="previousPage()">Previous Page</button>
<button class="pagination" id="nextPage" onclick="nextPage()">Next Page</button>
<p class="pagination" id="pagep">Current Page: </p>
<script>
    let l = parseInt("<%= l %>");
    let p = parseInt("<%= p %>");
    const pagep = document.querySelector("#pagep");
    const getPosts = async (l = 10, p = 1) => {
        try {
            const response = await fetch(`/api/v1/posts?limit=${l}&page=${p}`);
            const posts = await response.json();
            if (posts.success) {return posts.data} else {throw "error"};
        } catch(err) {console.log(err)};
    };
    const showPosts = async (l = 10, p = 1, data) => {
        const postsDiv = document.querySelector("#posts");
        const posts = data ? data : await getPosts(l, p)
        if (!posts) {return false};
        const nextButton = document.querySelector("#nextPage");
        if (posts.length < l) {nextButton.style.display = "none"} else {nextButton.style.display = "inline"};
        postsDiv.replaceChildren();
        posts
        .map(element => {
            let div = document.createElement("div");
            div.classList.add("post");
            div.onclick = () => {window.location.href = `/post/${element.id}`};
            let title = document.createElement("a"); let creator = document.createElement("a"); let datetime = document.createElement("p");
            title.classList.add("title"); creator.classList.add("creator"); datetime.classList.add("datetime");
            title.href = `/post/${element.id}`;
            creator.href = `/user/${element.poster_id}`;
            title.innerText = element.title;
            creator.innerText = "Creator: " + element.display_name;
            date = moment(element.datetime).fromNow();
            datetime.innerText = "Created: " + date;
            let elements = [document.createElement("hr"), title, document.createElement("br"), creator, document.createElement("br"), datetime]
            elements.forEach(element => {div.appendChild(element)});
            return div;
        })
        .forEach(element => {
            postsDiv.appendChild(element);
        });
        postsDiv.appendChild(document.createElement("hr"))
    };
    const updatePageP = () => {
        pagep.innerText = "Current Page: " + p;
        if (p <= 1) {document.querySelector("#previousPage").style.display = "none";} else {document.querySelector("#previousPage").style.display = "inline";}
    };
    const nextPage = async () => {
        const result = await showPosts(l, p + 1);
        if (result === false) {return false};
        p++;
        updatePageP();
        history.pushState({p, l}, "", `?p=${p}&l=${l}`)
    };
    const previousPage = async () => {
        if (p <= 1) {return false};
        p--;
        await showPosts(l, p);
        updatePageP();
        history.pushState({p, l}, "", `?p=${p}&l=${l}`)
    };
    showPosts(l, p, JSON.parse(document.querySelector("#data").dataset.posts));
    updatePageP();
</script>