<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div>
            <button id="home" onclick='window.location.href="/"'>Home</button>
            <button id="post" onclick='window.location.href="/"'>Post</button>
            <button id="profile" onclick='window.location.href="/"'>Profile</button>
        </div>
    </nav>
</body>
</html>