<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav id="navbar">
        <div>
            <button class="navbar" id="home" onclick='window.location.href="/"'>Home</button>
            <button class="navbar" id="post" onclick='window.location.href="/new-post"'>Post</button>
            <button class="navbar" id="profile" onclick='window.location.href="/profile"'>Profile</button>
            <button class="navbar" id="login" onclick='window.location.href="/login"'>Login</button>
            <button class="navbar" id="signup" onclick='window.location.href="/signup"'>Signup</button>
            <button class="navbar" id="logout">Logout</button>
        </div>
    </nav>
    <script>
        const buttons = document.querySelectorAll("button");
        buttons.forEach(element => element.style.display = "none");
        buttons[5].addEventListener("click", async () => {
            let result = await fetch("/api/v1/logout", {
                method: "GET",
                credentials: "same-origin",
                headers: {
                    "Content-Type": "application/json"
                }
            });
            result = await result.json();
            window.location.href = "/login"
        });
        const setNavbar = bool => {
            Array.from(buttons).slice(0,3).forEach(element => element.style.display = "inline");
            if (bool) {
                buttons[5].style.display = "inline";
            } else {
                buttons[3].style.display = "inline";
                buttons[4].style.display = "inline";
            }
        };
        setNavbar(document.cookie.split(';').map(element => element.trim()).includes("authStatus=true"));
        
    </script>
    <%- body %>
</body>
</html>