<div id="postForm">
    <label for="title">Title</label><br>
    <input type="text" id="title" name="title" maxlength="128"><br>
    <label for="content">Content</label><br>
    <textarea type="text" id="content" name="content" maxlength="1024"></textarea><br>
    <button id="post-button">Post</button>
</div>
<script>
    if (!(document.cookie == "authStatus=true")) {window.location.href = "/login"};
    document.querySelector("#post-button").addEventListener("click", async () => {
        const title = document.querySelector("#title").value;
        const content = document.querySelector("#content").value;
        if (!title || !content) {alert("enter valid title or content"); return false};
        const response = await fetch("/api/v1/addpost", {
            method: "POST",
            credentials: "same-origin",
            body: JSON.stringify({title, content}),
            headers: {
                "Content-Type": "application/json"
            }
        });
        const result = await response.json();
        if (result.success) {
            window.location.href = `/post/${result.id}`
        } else {alert("internal server error: try again later"); window.location.href = "/";}
    });
</script>
<!-- textarea -->
 