<a href="/login">Unauthenticated. Log In </a>
<div id="postForm">
    <label for="title">Title</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="content">Content</label><br>
    <textarea type="text" id="content" name="content"></textarea><br>
    <button id="post-button">Post</button>
</div>
<script>
    const p = document.querySelector("a");
    p.style.display = "none";
    const checkAuth = async () => {
        try {
            document.querySelector("#postForm").style.display = "none"
            const response = await fetch("/api/v1/verifytoken", {
                    method: "GET",
                    credentials: "same-origin",
                    headers: {
                        "Content-Type": "application/json"
                    }
            });
            const authStatus = await response.json();
            if (!authStatus.success) {p.style.display = "block"; return false}
            document.querySelector("#postForm").style.display = "block";
        } catch(err) {console.log(err)};
    };
    checkAuth();
    document.querySelector("#post-button").addEventListener("click", async () => {
        const title = document.querySelector("#title").value;
        const content = document.querySelector("#content").value;
        if (!title || !content) {alert("enter valid title or content"); return false};
        const response = await fetch("/api/v1/addpost", {
            method: "POST",
            credentials: "same-origin",
            body: JSON.stringify({title, content}),
            headers: {
                "Content-Type": "application/json"
            }
        });
        const result = await response.json();
        if (result.success) {
            window.location.href = `/post/${result.id}`
        } else {alert("internal server error: try again later"); window.location.href = "/";}
    });
</script>
<!-- textarea -->
 