<div id="data-comments" data-comments='<%= JSON.stringify(comments) %>'></div>
<div id="data-post" data-post='<%= JSON.stringify(post) %>'></div>
<div class="postDetails">
    <u><h3 class="title"></h3></u>
    <a class="post-creator"></a>
    <div class="content">
        <p class="full-content"></p>
    </div>
    <p class="datetime">Created: </p>
</div>
<div class="voting">
    <button id="upvote">&uarr;</button>
    <p id="voteCount">Votes: </p>
    <button id="downvote">&darr;</button>
</div>
<p id="voteStatus"></p>
<div class="newComment" id="newComment">
    <input id="comment" placeholder="Comment" name="comment" maxlength="512">
    <button id="commentButton">Comment</button>
</div>
<h3 id="commentsTitle">Comments: </h3>
<div class="commentsList" id="comments"></div>
<button class="pagination" id="previousPage" onclick="previousPage()">Previous Page</button>
<button class="pagination" id="nextPage" onclick="nextPage()">Next Page</button>
<p class="pagination" id="pagep">Current Page: </p>
<script>
    let l = 10;
    let p = 1;
    const pagep = document.querySelector("#pagep");
    const id = parseInt("<%= id %>");
    const title = document.querySelector(".title");
    const postContent = document.querySelector(".full-content");
    const postDateTime = document.querySelector(".datetime");
    const postCreator = document.querySelector(".post-creator");
    const authStatus = document.cookie.split(';').map(element => element.trim()).includes("authStatus=true");
    const upvoteButton = document.querySelector("#upvote");
    const downvoteButton = document.querySelector("#downvote");
    const voteCountP = document.querySelector("#voteCount")
    document.querySelector("#newComment").style.display = document.cookie.split(';').map(element => element.trim()).includes("authStatus=true") ? "inline" : "none";
    const hideVoteButtons = () => {[upvoteButton, downvoteButton].forEach(element => element.style.display = "none"); voteCountP.classList.add("buttons-hidden")};
    upvoteButton.addEventListener("click", async () => {await vote(1); window.location.href = `/post/${id}`});
    downvoteButton.addEventListener("click", async () => {await vote(-1); window.location.href = `/post/${id}`});
    if (!authStatus) {hideVoteButtons();};
    document.querySelector("#commentButton").addEventListener("click", async () => {
        //data to send: post id, content
        //id is in var id
        // content to be taken as comment.value
        const content = document.querySelector("#comment").value;
        if (!content) {return alert("error: empty comment")};
        const response = await fetch("/api/v1/addcomment", {
            method: "POST",
            credentials: "same-origin",
            body: JSON.stringify({post: id, content}),
            headers: {
                "Content-Type": "application/json"
            }
        });
        const result = await response.json()
        if (result.success) {
            window.location.href = `/post/${id}`
        } else {alert("internal server error: try again later"); window.location.href = `/post/${id}`;}
    });
    const vote = async (value) => {
        const response = await fetch("/api/v1/addvote", {
            method: "POST",
            credentials: "same-origin",
            body: JSON.stringify({post: id, value}),
            headers: {
                "Content-Type": "application/json"
            }
        });
    };
    const getPost = async () => {
        const response = JSON.parse(document.querySelector("#data-post").dataset.post);
        post = response.data[0];
        title.innerText = post.title;
        postCreator.innerText = "- " + post.display_name;
        postCreator.href = `/user/${post.poster_id}`
        postContent.innerText = post.content;
        postDateTime.innerText = "Created: " + moment(post.datetime).fromNow() + ` (${moment(post.datetime).format('MMMM Do YYYY')})`;
        voteCountP.innerText = "Votes: " + post.vote_total;
        if (post.voted) {hideVoteButtons(); document.querySelector("#voteStatus").innerText = (post.voted) === 1 ? "You have Upvoted!" : "You have Downvoted!"}; 
    };
    const getComments = async (l, p) => {
        try {
            const response = await fetch(`/api/v1/comments?id=${id}&limit=${l}&page=${p}`);
            const comments = await response.json();
            if (comments.success) {return comments.data} else {throw "error"};
        } catch(err) {console.log(err)};
    };
    const makeDiv = (element, type) => {
            let div = document.createElement("div");
            div.classList.add(type);
            let content = document.createElement("p"); let creator = document.createElement("a"); let datetime = document.createElement("p");
            content.classList.add("commentContent"); creator.classList.add("commentCreator"); datetime.classList.add("datetime");
            creator.href = `/user/${element.user_id}`;
            creator.innerText = "Commentor: " + element.display_name;
            content.innerText = element.content;
            const date = moment(element.datetime).fromNow();
            datetime.innerText = "Created: " + moment(element.datetime).fromNow() + ` (${moment(element.datetime).format('MMMM Do YYYY')})`;
            let elements;
            if (type === "comment") {
                let reply = document.createElement("input")
                reply.placeholder = "Reply";
                let replyButton = document.createElement("button");
                replyButton.innerText = "Reply";
                replyButton.onclick = async () => {
                    const content = reply.value;
                    if (!content) {return alert("error: empty comment")};
                    const response = await fetch("/api/v1/addcomment", {
                        method: "POST",
                        credentials: "same-origin",
                        body: JSON.stringify({post: id, content, repliesTo: element.id}),
                        headers: {
                            "Content-Type": "application/json"
                        }
                    });
                    const result = await response.json()
                    if (result.success) {
                        window.location.href = `/post/${id}`
                    } else {alert("internal server error: try again later"); window.location.href = `/post/${id}`;}
                };
                elements = [document.createElement("hr"), creator, document.createElement("br"), content, document.createElement("br"), reply, replyButton, document.createElement("br"), datetime, document.createElement("hr")]
            } else {
                elements = [document.createElement("hr"), creator, document.createElement("br"), content, document.createElement("br"), datetime, document.createElement("hr")]
            }
            elements.forEach(element => {div.appendChild(element)});
            return div;
    };
    const showComments = async (l = 10, p = 1, data) => {
        const commentsDiv = document.querySelector("#comments");
        const comments = data ? data.data : await getComments(l, p);
        if (!comments) {return false};
        const nextButton = document.querySelector("#nextPage");
        if (comments.filter(element => !element.repliesTo).length < l) {nextButton.style.display = "none"} else {nextButton.style.display = "inline"};
        commentsDiv.replaceChildren();
        const elements = comments.filter(element => !element.repliesTo).map(element => {
            const div = makeDiv(element, "comment");
            const replies = comments.filter(item => item.repliesTo === element.id).map(banana => makeDiv(banana, "reply"));
            replies.forEach(item => div.appendChild(item));
            return div;
        });
        elements.forEach(element => commentsDiv.appendChild(element));

    };
    const updatePageP = () => {
        const previousPage = document.querySelector("#previousPage");
        pagep.innerText = "Current Page: " + p;
        if (p <= 1) {previousPage.style.display = "none"} else {previousPage.style.display = "inline"};
    };
    const nextPage = async () => {
        const result = await showComments(l, p + 1);
        if (result === false) {return false};
        p++;
        updatePageP();

    };
    const previousPage = async () => {
        if (p <= 1) {return false};
        p--;
        await showComments(l, p);
        updatePageP();
    };
    showComments(l, p, JSON.parse(document.querySelector("#data-comments").dataset.comments));
    updatePageP();
    getPost();
</script>