<div class="postDetails">
    <u><h3 class="title"></h3></u>
    <a class="post-creator"></a>
    <div class="content">
        <p class="full-content"></p>
    </div>
    <p class="datetime">Created: </p>
</div>
<div class="newComment" id="newComment">
    <label for="comment">Comment: </label>
    <input id="comment" name="comment" maxlength="512">
    <button id="commentButton">Comment</button>
</div>
<h3>Comments: </h3>
<div class="commentsList" id="comments"></div>
<button class="pagination" id="previousPage" onclick="previousPage()">Previous Page</button>
<button class="pagination" id="nextPage" onclick="nextPage()">Next Page</button>
<p class="pagination" id="pagep">Current Page: </p>
<script>
    let l = 10;
    let p = 1;
    const pagep = document.querySelector("#pagep");
    const id = parseInt("<%= id %>");
    const title = document.querySelector(".title");
    const postContent = document.querySelector(".full-content");
    const postDateTime = document.querySelector(".datetime");
    const postCreator = document.querySelector(".post-creator");
    document.querySelector("#newComment").style.display = document.cookie.split(';').map(element => element.trim()).includes("authStatus=true") ? "inline" : "none";
    document.querySelector("#commentButton").addEventListener("click", async () => {
        //data to send: post id, content
        //id is in var id
        // content to be taken as comment.value
        const content = document.querySelector("#comment").value;
        if (!content) {return alert("error: empty comment")};
        const response = await fetch("/api/v1/addcomment", {
            method: "POST",
            credentials: "same-origin",
            body: JSON.stringify({post: id, content}),
            headers: {
                "Content-Type": "application/json"
            }
        });
        const result = await response.json()
        if (result.success) {
            window.location.href = `/post/${id}`
        } else {alert("internal server error: try again later"); window.location.href = `/post/${id}`;}
    });
    const getPost = async () => {
        const response = await fetch(`/api/v1/posts?id=${id}`);
        let post = await response.json();
        post = post.data[0];
        title.innerText = post.title;
        postCreator.innerText = "- " + post.display_name;
        postCreator.href = `/user/${post.poster_id}`
        postContent.innerText = post.content;
        postDateTime.innerText = "Created: " + moment(post.datetime).fromNow() + ` (${moment(post.datetime).format('MMMM Do YYYY')})`;
    };
    const getComments = async (l = 10, p = 1) => {
        try {
            const response = await fetch(`/api/v1/comments?id=${id}&limit=${l}&page=${p}`);
            const comments = await response.json();
            if (comments.success) {return comments.data} else {throw "error"};
        } catch(err) {console.log(err)};
    };
    const showComments = async (l = 10, p = 1) => {
        const commentsDiv = document.querySelector("#comments");
        const comments = await getComments(l, p);
        if (!comments) {return false};
        const nextButton = document.querySelector("#nextPage");
        if (comments.length < l) {nextButton.style.display = "none"} else {nextButton.style.display = "inline"};
        commentsDiv.replaceChildren();
        comments
        .map(element => {
            let div = document.createElement("div");
            div.classList.add("comment");
            let content = document.createElement("p"); let creator = document.createElement("a"); let datetime = document.createElement("p");
            content.classList.add("commentContent"); creator.classList.add("commentCreator"); datetime.classList.add("datetime");
            creator.href = `/user/${element.user_id}`;
            creator.innerText = "Commentor: " + element.display_name;
            content.innerText = element.content;
            date = moment(element.datetime).fromNow();
            datetime.innerText = "Created: " + moment(element.datetime).fromNow() + ` (${moment(element.datetime).format('MMMM Do YYYY')})`;
            let elements = [document.createElement("hr"), creator, document.createElement("br"), content, document.createElement("br"), datetime, document.createElement("hr")]
            elements.forEach(element => {div.appendChild(element)});
            return div;
        })
        .forEach(element => {
            commentsDiv.appendChild(element);
        });
    };
    const updatePageP = () => {
        const previousPage = document.querySelector("#previousPage");
        pagep.innerText = "Current Page: " + p;
        if (p <= 1) {previousPage.style.display = "none"} else {previousPage.style.display = "inline"};
    };
    const nextPage = async () => {
        const result = await showComments(10, p + 1);
        if (result === false) {return false};
        p++;
        updatePageP();

    };
    const previousPage = async () => {
        if (p <= 1) {return false};
        p--;
        await showComments(10, p);
        updatePageP();
    };
    showComments();
    updatePageP();
    getPost();
</script>