<div class="login">
    <h3>Sign Up</h3>
    <form>
        <input id="username" placeholder="Username" type="text" maxlength="30"><br>
        <input id="password" placeholder="Password" type="password" maxlength="72"><br>
        <button type="button" id="submit">Sign Up</button>
    </form>
    <p id="info" style="display: none;"></p>
</div>
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    };
    const button = document.querySelector("#submit");
    const p = document.querySelector("p");
    const username = document.querySelector("#username");
    const password = document.querySelector("#password");
    button.addEventListener("click", async () => {
        let result = await fetch("/api/v1/signup", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({username: username.value, password: password.value})
        });
        result = await result.json();
        p.style.display = "block";
        if (result.success) {
            p.innerText = "Success! Redirecting to login in 3s...";
            await sleep(3000);
            window.location.href="/login";
        } else {p.innerText = result.error};
    });
</script>