@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Jaro:opsz@6..72&family=Honk&family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/*Body*/
html, body {
  margin: 0;
  padding: 0;
  background-color: #0e1113;
  color: white;
}

body, button{
    font-family: "Lexend", sans-serif;
}
button {
      cursor: pointer;
}

/*Login, Signup Pages*/

.login, .login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Outfit", sans-serif;
}
.login h3 {
    font-size: 3.5rem;
    
}
.login input{
    margin-top: 10px;
    border-radius: 40px;
    font-family: "Outfit", sans-serif;
    height: 30px;
    width: 300px;
    font-size: 1.25rem;
}
.login input::placeholder {
  text-align: center;
}
.login button {
    margin-top: 10px;
    background-color: #6aa9d3;
    font-size: 1.5rem;
    height: 40px;
    width: 300px;
    border-radius: 40px;
}
.login #info {
    font-size: 40px;
}

/*Navbar*/

.navbar {
    font-size: 1rem;
}

#navbar {
  padding: 1rem;
  width: 100%;
  border-bottom: solid grey 4px;
}

/*Index*/
.postsList {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

div.post:hover {
    background-color: #25282a;
}

a:link {
    color:white;
}
a:visited {
    color:#c7d0d4;
}
a:hover {
    color: #e5f1ff;
}
div.post a, div.post p {
    font-family: "Lexend", sans-serif;
}
div.post .title {
    font-size: 2rem;
}
/*Pagination*/

button.pagination {
    border-radius: 10px;
    margin-left: 5px;
    margin-bottom: 0px;
}
p.pagination {
    margin-top: 0px;
    margin-left: 5px;
    font-size: 14px;
    opacity: 0.7;
    font-weight: 400;
    font-variant-numeric: tabular-nums;
}

/*New Post*/

.newPost {
  margin: 20px;
  font-family: "Lexend", sans-serif;
}

.newPost input,
.newPost textarea {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
}

.newPost textarea {
  height: 200px;
  resize: vertical;
}

#post-button {
    margin-top: 10px;
    background-color: #6aa9d3;
    font-size: 1rem;
    height: 30px;
    width: 60px;
    border-radius: 40px;
}
/*Profile, User*/

.userInfo .displayName {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 3px;
}

.userInfo .username {
    margin-left: 3px;
    font-size: 1rem;
    margin-top: -10px;
    margin-bottom: 0px;
    opacity: 0.7;
}

.userInfo .description {
    font-size: 1.5rem;
    margin: 10px;
}
/*View Post*/

.postDetails .title {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Outfit", sans-serif;
}
.postDetails .content {
    margin: 12px 4px;
    background-color: #101315;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #0c0e0f;
    font-family: "Lexend", monospace;
}

.newComment button {
    background-color: #6aa9d3;
    font-size: 1rem;
    height: 30px;
    width: 100px;
    border-radius: 40px;
}
.newComment input {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
}



/*
Navbar: .navbar 
Posts List (on home page, user page): .postsList's children
Pagination: .pagination
Login page: .login's children
new post page: .newPost's children
view post details: .postDetails's children, 
new comment: .newComment's children
comments list: .commentsList's children
view user details: .userInfo's children
edit profile: #editProfile




pages to css:
login X
signup X
layout X 
index X
new post X
view post
edit profile
own profile X
view user X

*/